@model ZeroHunger.Models.Restaurant
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@if (@TempData["message"] != null)
{

    <h4 class="alert alert-warning">@TempData["message"]</h4>
}
else
{
<form action="" method="post" class="form-horizontal">
    <h4>Restaurant</h4>
    <hr />

    <input type="hidden" value="@Model.Id" name="Id" />
   
    <div class="form-group">
        <label for="name" class="control-label col-md-2">Restaurant Name</label>
        <div class="col-md-10">
            <input type="text" value="@Model.Name" name="Name" class="form-control" />
        </div>

        <br /><br />

        <label for="name" class="control-label col-md-2">User Name</label>
        <div class="col-md-10">
            <input type="text" value="@Model.UserName" name="UserName" class="form-control" />
        </div>

        <br /><br />

        <label for="location" class="control-label col-md-2">Location</label>
        <div class="col-md-10">
            <input type="text" value="@Model.Location" name="Location" class="form-control" />
        </div>

        <br /><br />

        <label for="password" class="control-label col-md-2">Password</label>
        <div class="col-md-10">
            <input type="password" value="@Model.Password" name="Password" class="form-control" />
        </div>

        <br /><br />

        <label for="number" class="control-label col-md-2">Phone Number</label>
        <div class="col-md-10">
            <input type="text" value="@Model.PhoneNumber" name="PhoneNumber" class="form-control" />
        </div>

        <br /><br />

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Edit" class="btn btn-default" />
        </div>
    </div>
</form>
}