@model List<ProductSystem.Database.Product>

@{
    ViewBag.Title = "AddToCart";
}

<h2>AddToCart</h2>

@if (@TempData["msg"] != null)
{
    <h3 class="alert alert-warning">@TempData["msg"]</h3><br />
}

else if (@ViewData["msg"] != null)
{
    <h4 class="alert alert-warning">@ViewData["msg"]</h4>
    <a href="/product/create" class="btn btn-success">Create</a>
    <br />
    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var pr in Model)
            {
            <tr>
                <td>@pr.Id</td>
                <td>@pr.Name</td>
                <td>@pr.Price</td>
                <td>@pr.Quantity</td>
                <td>@(pr.Price*pr.Quantity)</td>
            </tr>
            }
        </tbody>
    </table>
    <div>
        @foreach (var pr in Model)
        {
            <a href="/product/checkout/@pr.Id" class="btn btn-info">Place Order</a>
        }

        <a href="/product/index" class="">Continue Buying</a>
        @HttpContext.Current.Session["cart"].ToString()

    </div>
}
