@model ProductSystem.Database.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@if (@TempData["msg"] != null)
{
    
    <h3 class="alert alert-warning">@TempData["msg"]</h3>
}
else
{
    <form action="" method="post" class="form-horizontal">
        <h4>Product</h4>
        <hr />

        <input type="hidden" value="@Model.Id" name="Id" />

        <div class="form-group">
            <label for="name" class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" value="@Model.Name" name="Name" class="form-control" />
            </div>
            <br /><br />

            <label for="price" class="control-label col-md-2">Price</label>
            <div class="col-md-10">
                <input type="text" value="@Model.Price" placeholder="Price" name="Price" class="form-control" />
            </div>
            <br /><br />

            <label for="quantity" class="control-label col-md-2">Quantity</label>
            <div class="col-md-10">
                <input type="text" value="@Model.Quantity" placeholder="Quantity" name="Quantity" class="form-control" />
            </div>
            <br /><br />

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
        </div>
        <div>
            <a href="/product/index" class="">Back to List</a>
        </div>
    </form>
}