@model List<ProductSystem.Database.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (@TempData["msg"] != null)
{
    <h3 class="alert alert-warning">@TempData["msg"]</h3><br /><br>
}
<a href="/product/create" class="btn btn-success">Create</a><br /><br />

<h1 class="">
</h1>



<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var pr in Model)
        {
            <tr>
                <td>@pr.Id</td>
                <td>@pr.Name</td>
                <td>@pr.Price</td>
                <td>@pr.Quantity</td>
                <td>
                    <a href="/product/addtocart/@pr.Id" class="btn btn-info">Add To Cart</a>
                    <a href="/product/edit/@pr.Id" class="btn btn-success">Edit</a>
                    <a href="/product/delete/@pr.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
