@model ZeroHunger.Models.Employee
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="" method="post" class="form-horizontal">
    <h4>Employee </h4>
    <hr />


    <input type="hidden" value="@Model.Id" name="Id" />



    <div class="form-group">

        <label for="name" class="control-label col-md-2">User Name</label>
        <div class="col-md-10">
            <input type="text" value="@Model.UserName" name="UserName" class="form-control" />
        </div>

        <br /><br />

        <label for="password" class="control-label col-md-2">Password</label>
        <div class="col-md-10">
            <input type="password" value="@Model.Password" name="Password" class="form-control" />
        </div>

        <br /><br />

        <label for="number" class="control-label col-md-2">Phone Number</label>
        <div class="col-md-10">
            <input type="text" value="@Model.PhoneNumber" name="PhoneNumber" class="form-control" />
        </div>

        <br /><br />

        <label for="email" class="control-label col-md-2">E-Mail</label>
        <div class="col-md-10">
            <input type="email" value="@Model.Email" name="Email" class="form-control" />
        </div>

        <br /><br />

        <label for="date" class="control-label col-md-2">Date</label>
        <div class="col-md-10">
            <input type="datetime-local" value="@Model.Date" name="Date" class="form-control" />
        </div>

        <br /><br />

        <label for="address" class="control-label col-md-2">Address</label>
        <div class="col-md-10">
            <input type="text" value="@Model.Address" name="Address" class="form-control" />
        </div>

        <br /><br />

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Edit" class="btn btn-default" />
        </div>
    </div>
    <div>
        <a href="/Employee/ManageEmployee" class="">Back to List</a>
    </div>
</form>